[core]
	excludesFile = ~/.gitignore_global
	editor = /usr/bin/vim
[user]
	email = tmiguez@fu.do
	name = Tomas Miguez
	signingkey = 23A3406698EDFD67
[alias]
	lg1 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
	lg2 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all
	lg = !"git lg1"

	ac = !git add . && git commit
	amend = commit -a --amend --no-edit
	co = checkout
	br = branch
	rim = rebase -i master
	autosquash = !export GIT_SEQUENCE_EDITOR=: && (git rebase -i --autosquash $1) && export GIT_SEQUENCE_EDITOR=$EDITOR
	fixup = commit -a --fixup
	conflicts = diff --name-only --diff-filter=U
[gpg]
	program = gpg2
[merge]
	tool = vimdiff
[pull]
	rebase = false
[rebase]
	autosquash = true
[diff]
	tool = vimdiff
[difftool]
	prompt = false
[init]
	defaultBranch = master
